<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keyword" content="saudi,arabia,travel,agents,advisor,package,visa,ticket,air,flight,middle east,fly" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/excellence_logo.png" />
    <script type="application/ld+json">
    {
        "headline": "{{ site.title }}",
        "@type":"WebSite",
        "url":"{{ site.url }}{{ site.baseurl }}",
        "name":"{{ site.title }}",
        "description":"{{ site.description }}",
        "@context":"https://schema.org"
    }
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <main aria-label="Content">
        <div class="cover" style="background-image: url({{ site.baseurl }}/assets/background.jpg);">
            <header>
                <div class="logo">
                    <img src="{{ site.baseurl }}/assets/logo.jpg" alt="{{ site.title }}" />
                </div>
            </header>
            <div class="hero">
                <div class="hero-c">
                    <h1>Ready to fly?</h1>
                    <div class="hero-t">
                        Introducing corona aware safe travel packages.
                        Where ever you may wish to travel, we have got the right package for you.
                    </div>
                </div>
            </div>
        </div>
        <div class="cob">
            <div>
                <h1>Service like never before</h1>
                <div class="txt">
                    <div>Here at Excellence Visas, we are all about customer service.</div>
                    <div>We pledge to fulfill on our promises at the best course of action.</div>
                    <div>No matter where in the world you choose to travel, your satisfaction is guaranteed.</div>
                </div>
            </div>
        </div>
        <div class="points">
            <div class="p-c">
                <div class="p-p">
                    <div class="p-pi"><img src="{{ site.baseurl }}/assets/heart.svg" alt="point" /></div>
                    <h2>Reliable service</h2>
                    <div class="p-pt">You can count on us to help you with your travel plans.</div>
                </div>
                <div class="p-p">
                    <div class="p-pi"><img src="{{ site.baseurl }}/assets/sapphire.svg" alt="point" /></div>
                    <h2>Excellent Team</h2>
                    <div class="p-pt">Our team of dedicated people shall deliver on schedule.</div>
                </div>
                <div class="p-p">
                    <div class="p-pi"><img src="{{ site.baseurl }}/assets/send.svg" alt="point" /></div>
                    <h2>Fast service</h2>
                    <div class="p-pt">Speed is another reason why people choose Excellence Visas.</div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d855.4679948224216!2d46.654249643885485!3d24.68059984388438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f1cc093119d29%3A0xb71d51c974ff7a0!2z2KrYo9i02YrYsdin2Kog2KfZhNiq2YXZitiyIEV4Y2VsbGVuY2UgdmlzYXM!5e0!3m2!1sen!2sin!4v1598166929435!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="txt">
                <h1>Contact</h1>
                <div class="">
                    <div class="c-info">Ummul Hamam – Main Road P.O Box 70191</div>
                    <div class="c-info">Riyadh 11567</div>
                    <div class="c-info">{{ site.email }}</div>
                    <div class="c-info">altanseiqalasri@gmail.com</div>
                    <div class="c-info">0564747587</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="s-links">
            <div class="s-m">
                <a href="https://www.facebook.com/"><img src="{{ site.baseurl }}/assets/facebook.svg" alt="Excellence Visa Facebook" /></a>
                <a href="https://www.instagram.com/"><img src="{{ site.baseurl }}/assets/instagram.svg" alt="Excellence Visa instagram" /></a>
            </div>
        </div>
        <div class="f-f">Excellence Visa &copy; 2020</div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var images = [
                '{{ site.baseurl }}/assets/background.jpg',
                '{{ site.baseurl }}/assets/background2.jpg',
                '{{ site.baseurl }}/assets/background3.png'
            ];
            images.forEach(i => new Image().src = i);
            var imageIdx = 0;
            function switchBackground() {
                imageIdx = images.length - 1 === imageIdx ? 0 : imageIdx + 1;
                var newImg = images[imageIdx];
                var container = document.querySelector('.cover');
                container.style.backgroundImage = `url(${newImg})`;
            }
            setInterval(switchBackground, 5000);
        });
    </script>
</body>

</html>